[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 2000

[rpc_endpoints]
mainnet = "https://mainnet.infura.io/v3/${INFURA_API_KEY}"
goerli = "https://goerli.infura.io/v3/${INFURA_API_KEY}"
sepolia = "https://sepolia.infura.io/v3/${INFURA_API_KEY}"
optimism = "https://optimism-mainnet.infura.io/v3/${INFURA_API_KEY}"
optimism-goerli = "https://optimism-goerli.infura.io/v3/${INFURA_API_KEY}"
arbitrum = "https://arbitrum-mainnet.infura.io/v3/${INFURA_API_KEY}"
polygon = "https://polygon-mainnet.infura.io/v3/${INFURA_API_KEY}" # 137 # legacy
polygon-mumbai = "https://polygon-mumbai.infura.io/v3/${INFURA_API_KEY}" # 80001 # legacy
polygon-zkevm = "https://zkevm-rpc.com"
polygon-zkevm-testnet = "https://rpc.public.zkevm-test.net"
mantle = "https://rpc.mantle.xyz/"
mantle-testnet = "https://rpc.testnet.mantle.xyz/"
gnosis = "https://rpc.gnosis.pm"
gnosis-testnet = "https://rpc.chiadochain.net"
filecoin = "https://rpc.ankr.com/filecoin"
filecoin-testnet = "https://filecoin-calibration.chainstacklabs.com/rpc/v1"
zksync = "https://mainnet.era.zksync.io"
zksync-testnet = "https://testnet.era.zksync.dev"
base = "https://developer-access-mainnet.base.org"
base-testnet = "https://goerli.base.org"
milkomeda-c1 = "https://rpc-mainnet-cardano-evm.c1.milkomeda.com"
milkomeda-c1-testnet = "https://rpc-devnet-cardano-evm.c1.milkomeda.com"
taiko-grimsvotn = "https://rpc.test.taiko.xyz"


############################################################
# non-forge settings, but necessary for deploy.py
############################################################
[profile.chain_ids]
mainnet = "1"
goerli = "5"
sepolia = "11155111"
optimism = "10"
optimism-goerli = "420"
arbitrum = "42161"
polygon = "137"
polygon-mumbai = "80001"
polygon-zkevm = "1101"
polygon-zkevm-testnet = "1442"
mantle = "5000"
mantle-testnet = "5001"
gnosis = "100"
gnosis-testnet = "10200"
filecoin = "314"
filecoin-testnet = "314159"
zksync = "324"
zksync-testnet = "280"
base = "8453"
base-testnet = "84531"
milkomeda-c1 = "2001"
milkomeda-c1-testnet = "200101"
taiko-grimsvotn = "167005"

[profile.legacy]
polygon = true
polygon-mumbai = true
milkomeda-c1 = true
arbitrum = true
mantle = true
mantle-testnet = true
############################################################

[etherscan]
mainnet = { key = "${ETHERSCAN_TOKEN}" }
goerli = { key = "${ETHERSCAN_TOKEN}" }
sepolia = { key = "${ETHERSCAN_TOKEN}" }
polygon = { key = "${POLYGONSCAN_TOKEN}" }
polygon-mumbai = { key = "${POLYGONSCAN_TOKEN}" }
optimism = { key = "${OPTISCAN_TOKEN}" }
optimism-goerli = { key = "${OPTISCAN_TOKEN}" }
arbitrum = { key = "${ARBISCAN_TOKEN}" }
polygon-zkevm-testnet = { key = "${POLYGONSCAN_ZKEVM_TOKEN}" }
base = { key = "${BASESCAN_TOKEN}", url = "https://api.basescan.org" }
base-testnet = { key = "${BASESCAN_TOKEN}", url = "https://api-goerli.basescan.org" }
taiko-grimsvotn = { key = "${ETHERSCAN_TOKEN}", url = "https://explorer.test.taiko.xyz/api" }
mantle = { key = "${ETHERSCAN_TOKEN}", url = "https://explorer.mantle.xyz/api" }
mantle-testnet = { key = "${ETHERSCAN_TOKEN}", url = "https://explorer.testnet.mantle.xyz/api" }

############################################################

# palm = "https://palm-mainnet.infura.io/v3/${INFURA_API_KEY}"
# palm-testnet = "https://palm-testnet.infura.io/v3/${INFURA_API_KEY}"
# avalanche = "https://avalanche-mainnet.infura.io/v3/${INFURA_API_KEY}"
# near = "https://near-mainnet.infura.io/v3/${INFURA_API_KEY}"
# aurora = "https://aurora-mainnet.infura.io/v3/${INFURA_API_KEY}"
# starknet = "https://starknet-mainnet.infura.io/v3/${INFURA_API_KEY}"
# starket-goerli = "https://starknet-goerli.infura.io/v3/${INFURA_API_KEY}"
# celo = "https://celo-mainnet.infura.io/v3/${INFURA_API_KEY}"
# celo-alfajores = "https://celo-alfajores.infura.io/v3/${INFURA_API_KEY}" # 44787
# moonbase = "https://rpc.api.moonbase.moonbeam.network"
# moonbeam = "https://rpc.api.moobeam.network"
# zetachain-testnet = "https://zetachain-athens-evm.blockpi.network/v1/rpc/public" # 7001
# zetachain = "https://api.mainnet.zetachain.com/evm" # 7000
# neon = "https://neon-mainnet.everstake.one" # 245022934 # legacy
# neon-devnet = "https://devnet.neonevm.org" # 245022926 # legacy